extends ../sublayouts/layout

block content

  h1 Social helper

  div(class='panel-group', id='accordion', role='tablist', aria-multiselectable='true')
    div(class='panel panel-default')
      div(class='panel-heading', role='tab', id='headingOne')
        h4(class='panel-title')
          a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Tracking queries
      div(id='collapseOne', class='panel-collapse collapse', role='tabpanel', aria-labelledby='headingOne')
        div(class='panel-body')
          form(action='/action/add-tracking-query', method='POST')
            div(class='form-group')
              label(for='exampleInputEmail1') Add new tracking query
              div(class='form-group')
                select(name='accountID', class='form-control')
                  option(value='false', selected) Select Account
                  for account in vars.userAccounts
                    option(value='#{account.accountID}') #{account.accountName} (#{account.type})
              div(class='form-group')
                input(type='text', name='query', class='form-control', id='exampleInputEmail1', placeholder='#twitterHashtag filter:links')

              button(type='submit', class='btn btn-default') Submit
          if vars.userTrackingQueries
            ul(class='list-group')
              for query in vars.userTrackingQueries
                li(class='list-group-item') #{ query.query } (#{ query.type })
                  a(href='/action/delete-tracking-query?id=#{ query.trackingQueryID }', class='badge') X


  if vars.objects
    ul(class='objects')
      for object in vars.objects
        li(class='object')
          case object.type
            when 'tweet'
              a(class='embedly-card', href='https://twitter.com/statuses/#{object.UID}')
              ul(class='actions')
                li(class='action')
                  a(class='actionLink', href="/action/tweet?objectID=#{object.objectID}")
                    i(class='fa fa-twitter')
                li(class='action')
                  a(class='actionLink', href="/action/retweet?objectID=#{object.objectID}")
                    i(class='fa fa-retweet')
                li(class='action')
                  a(class='actionLink', href="/action/like?objectID=#{object.objectID}")
                    i(class='fa fa-heart')
                li(class='action')
                  a(class='actionLink', href="/action/save?objectID=#{object.objectID}")
                    i(class='fa fa-floppy-o')
                li(class='action')
                  a(class='actionLink', href="/action/remove?objectID=#{object.objectID}")
                    i(class='fa fa-trash')
            when 'twitterUser'
              a(class='embedly-card', href='https://twitter.com/intent/user?user_id=#{object.UID}')
              ul(class='actions')
                li(class='action')
                  a(class='actionLink', href="/action/follow?objectID=#{object.objectID}")
                    i(class='fa fa-user-plus')
                li(class='action')
                  a(class='actionLink', href="/action/save?objectID=#{object.objectID}")
                    i(class='fa fa-floppy-o')
                li(class='action')
                  a(class='actionLink', href="/action/remove?objectID=#{object.objectID}")
                    i(class='fa fa-trash')
            when 'link'
              a(class='embedly-card', href='#{object.UID}')
              ul(class='actions')
                li(class='action')
                  a(class='actionLink', href="/action/similar?objectID=#{object.objectID}")
                    i(class='fa fa-files-o')
                li(class='action')
                  a(class='actionLink', href="/action/save?objectID=#{object.objectID}")
                    i(class='fa fa-floppy-o')
                li(class='action')
                  a(class='actionLink', href="/action/remove?objectID=#{object.objectID}")
                    i(class='fa fa-trash')


